@* Classe de modelo de dados da página *@
@model EstoqueWeb.Presentation.Models.ProdutoRelatorioViewModel

<h5>Relatório de Produtos</h5>
<p>
    Preencha os campos para gerar um relatório com os produtos desejados.
</p>
<hr />

@using (Html.BeginForm())
{
   <div class="row mb-3">
    <div class="col-md-6">
      <label>Nome:</label>
      @Html.TextBoxFor(model => model.Nome, new { @tape = "nome", @class = "form-control",  @placeholder = "para todos coloque %" })
      <span class = "text-danger">
          @Html.ValidationMessageFor(model => model.Nome)
      </span>
    </div>
    <div class="col-md-3">
        <label>Status:</label>
        <br />
        @Html.RadioButtonFor(model => model.Ativo, "1")
            <label>ATIVO</label> <br />
        @Html.RadioButtonFor(model => model.Ativo, "2")
            <label>INATIVO</label> <br />
        <span class = "text-danger">
            @Html.ValidationMessageFor(model => model.Ativo)
        </span>
    </div>
    <div class="col-md-3">
        <label>Formato do Relatório:</label>
        <br />
        @Html.RadioButtonFor(model => model.Formato, "0")
            <label>Formato PDF</label> <br />
        @Html.RadioButtonFor(model => model.Formato, "1")
            <label>Formato Excel</label> <br />
        <span class = "text-danger">
            @Html.ValidationMessageFor(model => model.Formato)
        </span>
    </div>
  </div>
  
  <div class="row mb-3">
      <div class="col-12">
          <button type="submit" class="btn btn-success">Pesquisar Produtos</button>
      </div>
  </div>
}
