@model EstoqueWeb.Presentation.Models.AccountLoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login de usuário - EstoqueWEB</title>

    <!-- folhas de estilo CSS-->
    <link rel="stylesheet" href="~/css/bootstrap.css" />

</head>
<body class="bg-secondary">
    <div class="mt-5">
        <div class="col-md-4 offset-md-4">
        <div class="card">
        <div class="card-body">
            <div class="text-center">
                <img src="https://ps.w.org/limit-login-attempts-reloaded/assets/icon-128x128.png?rev=2456910" />
                <h5 class="card-title">Acesso ao Sistema de Estoque</h5>
                <p>Informe seus dados de acesso.</p>
            </div>
            <hr />

            @if (TempData["MensagemErro"] != null)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Erro!</strong> @TempData["MensagemErro"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }

            @using (Html.BeginForm())
            {
                  <label>Email de acesso: </label>
                  @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                  <span class="text-danger">
                      @Html.ValidationMessageFor(model => model.Email)
                  </span>
                  <br />
                  
                  <label>Senha de acesso: </label>
                  @Html.TextBoxFor(model => model.Senha, new { @type = "password", @class = "form-control" })
                  <span class="text-danger">
                      @Html.ValidationMessageFor(model => model.Senha)
                  </span>
                  <br />
                

                <div class="d-grid md-2">
                  <input type="submit" value="Acessar Conta" class="btn btn-dark" />
                </div>
                <div class="d-grid md-2">
                  <a href="/Account/Register" class="btn btn-light">Criar conta de usuário</a>
                </div>
            }
        </div>
        </div>
        </div>
    </div>

    <!-- arquivos de extensão JS -->
    <script src="~/js/bootstrap.js"></script>

</body>
</html>
