@model EstoqueWeb.Presentation.Models.AccountRegisterViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Casdastro de usuário - EstoqueWEB</title>

    <!-- folhas de estilo CSS-->
    <link rel="stylesheet" href="~/css/bootstrap.css" />

</head>
<body class="bg-secondary">
    <div class="mt-5">
        <div class="col-md-4 offset-md-4">
        <div class="card">
        <div class="card-body">
            <div class="text-center">
                <h5 class="card-title">Criar conta de Usuário</h5>
                <p>Informe seus dados para realizar o cadastro.</p>
            </div>
            <hr />

            @if (TempData["MensagemSucesso"] != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Sucesso!</strong> @TempData["MensagemSucesso"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            else if (TempData["MensagemErro"] != null)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Erro!</strong> @TempData["MensagemErro"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }

            @using (Html.BeginForm())
            {
                  <label>Nome do Usuário: </label>
                  @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
                  <span class="text-danger">
                      @Html.ValidationMessageFor(model => model.Nome)
                  </span>
                  <br />

                  <label>Email: </label>
                  @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                  <span class="text-danger">
                      @Html.ValidationMessageFor(model => model.Email)
                  </span>
                  <br />
                  
                  <label>Senha: </label>
                  @Html.TextBoxFor(model => model.Senha, new { @class = "form-control" })
                  <span class="text-danger">
                      @Html.ValidationMessageFor(model => model.Senha)
                  </span>
                  <br />

                  <label>Confirme sua Senha: </label>
                  @Html.TextBoxFor(model => model.SenhaConfirmacao, new { @class = "form-control" })
                  <span class="text-danger">
                      @Html.ValidationMessageFor(model => model.SenhaConfirmacao)
                  </span>
                  <br />                

                <div class="d-grid md-2">
                  <input type="submit" value="Realizar Cadastro" class="btn btn-success" />
                </div>
                <div class="d-grid md-2">
                  <a href="/Account/Login" class="btn btn-light">Acessar Conta</a>
                </div>
            }
        </div>
        </div>
        </div>
    </div>

    <!-- arquivos de extensão JS -->
    <script src="~/js/bootstrap.js"></script>

</body>
</html>

