@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using EstoqueWeb.Presentation.Models

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    //ler o conteudo JSON gravado na sessão
    var json = HttpContextAccessor.HttpContext.Session.GetString("usuario");
    //deserializar o conteudo do JSON
    var usuario = JsonConvert.DeserializeObject<userIdentityModel>(json);
}

<h5>Dados do usuário autenticado:</h5>
<hr />

<div class="mb-2">
    ID do usuário: <strong>@usuario.Id</strong>
</div>
<div class="mb-2">
    Nome do usuário: <strong>@usuario.Nome</strong>
</div>
<div class="mb-2">
    Email: <strong>@usuario.Email</strong>
</div>
<div class="mb-2">
    Data / Hora de acesso ao sistema: <strong>@usuario.DataHoraAcesso</strong>
</div>
<div class="mb-2">
    Cadastrado em: <strong>@usuario.DataInclusao</strong>
</div>
